/* Font imported from fonts.google */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

*{
    padding: 25px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

h1{

    font-size: medium;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-box{
    background-color:#fff;
    padding: 20px;
    border-radius: 10px;   
}

.input-box{
    color: black;
    font-size: 25px;
}

.input-box i {
    color: black;
    font-size: 25px;
}

.input-box input,
.input-box a{
    padding: 5px 15;
    margin: 0px 10px;
    text-decoration: none;
    display: block;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #333;
    border-radius: 10px;
}

#passwordBox {
    width: 110px;
    text-align: center;
}

.input-container{
    display: flex;
}

p{
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
}
